@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../fonts/fonts.css');

:root {
    --main-color-purple: #3d5eff;
    --main-color-blue: #00eaf2;

    --scrollbar-gradient: linear-gradient(var(--main-color-blue), var(--main-color-pink));
}

@layer base {
    body {
        @apply min-h-screen bg-[#1E1E1E] font-tt-octosquares text-white;
    }
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(#00eaf2, #3d5eff);
    border-radius: 6px;
}
